<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>View Event</title>
    <%- include ('../partials/partial') %>
        <style>
            body {
                background-color: whitesmoke;
            }

            th,
            tr,
            td {
                border: 1px solid black;
            }

            td,
            th {
                text-align: center;
            }

            #basketForm {
                background-color: white;
                padding: 20px;
                width: 100%;
                margin-top: 20px;
            }

            #basketData {
                margin-top: 20px;
            }

            span {
                color: red;
            }
        </style>
</head>

<body>
    <%- include('sidebar.ejs') %>
        <%- include('header.ejs') %>
            <div id="mains">
                <div id='basketForm'>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputBasketName">Basket Name</label>&ensp;&ensp;<span id="BasketError"></span>
                            <input type="text" class="form-control" id="inputBasketName" placeholder="Basket Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputBasketName">Basket Abbr</label>&ensp;&ensp;<span
                                id="BasketAbbrError"></span>
                            <input type="text" class="form-control" id="inputBasketAbbr" placeholder="Basket Abbr">
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="inputCampus">Campus</label>&ensp;&ensp;<span id="campusError"></span>
                        <select id="inputCampus" class="form-control">
                            <option selected>Select Campus</option>
                            <% campus.forEach(data=> { %>
                                <option value='<%= data.campus_name %>'>
                                    <%= data.campus_name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <button type="submit" id="submitbtn" class="btn btn-danger mt-4 btnSubmit">Add Basket</button>
                </div></br>
                <div id="basketData">
                    <h4>
                        <%= basket.length %> Record Found
                    </h4>
                    <table id="basketData" class="table-responsive-lg">
                        <tr>
                            <th>Sr.No</th>
                            <th>Basket Name</th>
                            <th>Basket Abbr</th>
                            <th>Campus</th>
                            <th>Actions</th>
                        </tr>
                        <% index=1; %>
                            <% basket.forEach(data=> { %>
                                <tr>
                                    <td>
                                        <%= index++ %>
                                    </td>
                                    <td>
                                        <%= data.basket_name %>
                                    </td>
                                    <td>
                                        <%= data.basket_abbr %>
                                    </td>
                                    <td>
                                        <%= data.campus_name %>
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-trash-arrow-up" data-toggle='tooltip' title='Delete'
                                            width="2%"></i>&ensp;
                                        <i class="fa-solid fa-pencil" data-toggle='tooltip' title='Edit'
                                            width="2%"></i>&ensp;
                                        <i class="fa-solid fa-eye" data-toggle='tooltip' title='Edit' width="2%"></i>
                                    </td>
                                </tr>
                                <% }) %>
                    </table>
                </div>
            </div>
            </div>

</body>

<%- include ('../partials/partial2') %>
    <script src="../js/script.js"></script>

    <script>

        document.getElementById('submitbtn').addEventListener('click', () => {

            let basketName = document.getElementById('inputBasketName').value;
            let basketAbbr = document.getElementById('inputBasketAbbr').value;
            let campus = document.getElementById('inputCampus').value;

            let basketValidation = basketValidator(basketName);
            let basketAbbrValidation = basketAbbrValidator(basketAbbr);
            let campusValidation = campusValidator(campus);

            if (basketValidation && basketAbbrValidation && campusValidation) {

                let urlValue = window.location.search;
                let fetchValue = new URLSearchParams(urlValue);
                let eventId = fetchValue.get('id');

                let obj = { basketName, basketAbbr, campus, eventId };
                dynamicFetchApi('/elective/createBasket', 'POST', obj)
                    .then(response => {
                        console.log('response:::: ', response.message);
                        if(response.status === 'error'){
                         window.location.href=`${response.redirectTo}`;
                        }else{
                         
                        let basketTable =document.getElementById('basketData');
                        let basketRow = `<tr>
                            <td>${basketName}</td>
                            <td>${basketAbbr}</td>
                            <td>${campus}</td>
                            <td>
                            <i class="fa-solid fa-trash-arrow-up" data-toggle='tooltip' title='Delete'
                            width="2%"></i>&ensp;
                            <i class="fa-solid fa-pencil" data-toggle='tooltip' title='Edit'
                            width="2%"></i>&ensp;
                            <i class="fa-solid fa-eye" data-toggle='tooltip' title='Edit' width="2%"></i>    
                            </td>
                            </tr>`;
                            
                            
                        }

                    })
            }


        })

        function basketValidator(basketName) {
            let basketError = document.getElementById('BasketError');

            if (basketName.length > 0) {
                return true;
            } else {
                basketError.innerText = '*Required';
                return false;
            }
        }

        function basketAbbrValidator(basketAbbr) {

            let abbrError = document.getElementById('BasketAbbrError');

            if (basketAbbr.length > 0) {
                return true;
            } else {
                abbrError.innerText = '*Required';
                return false;
            }

        }

        function campusValidator(campus) {

            let campusData = document.querySelectorAll('#inputCampus');
            let campusError = document.getElementById('campusError');

            let campusName = campusData[0][0].innerText;

            if (campusName == campus) {
                campusError.innerText = '*Invalid Input Field';
                console.log('Invalid campus');
                return false;
            }

            campusError.innerText = '';
            return true;

        }


    </script>

</html>