<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>View Event</title>
    <%- include ('../partials/partial') %>
        <style>
            body {
                background-color: whitesmoke;
            }

            th,
            tr,
            td {
                border: 1px solid black;
            }

            td,
            th {
                text-align: center;
            }

            #basketForm {
                background-color: white;
                padding: 20px;
                width: 100%;
                margin-top: 20px;
            }

            #basketData {
                margin-top: 20px;
            }

            span {
                color: red;
            }
        </style>
</head>

<body>
    <%- include('sidebar.ejs') %>
        <%- include('header.ejs') %>

            <div id="mains">
                <%- include('messageModal.ejs') %>


                    <div id='basketForm'>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputBasketName">Basket Name</label>&ensp;&ensp;<span
                                    id="BasketError"></span>
                                <input type="text" class="form-control" id="inputBasketName" placeholder="Basket Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputBasketName">Basket Abbr</label>&ensp;&ensp;<span
                                    id="BasketAbbrError"></span>
                                <input type="text" class="form-control" id="inputBasketAbbr" placeholder="Basket Abbr">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="inputCampus">Campus</label>&ensp;&ensp;<span id="campusError"></span>
                            <select id="inputCampus" class="form-control">
                                <option selected>Select Campus</option>
                                <% campus.forEach(data=> { %>
                                    <option value='<%= data.campus_name %>'>
                                        <%= data.campus_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <button type="submit" id="submitbtn" class="btn btn-danger mt-4 btnSubmit">Add Basket</button>
                    </div></br>
                    <div id="basketData">
                        <h4 id="totalRecord">
                            <%= basket.length %> Record Found
                        </h4>
                        <table class="table table-bordered table-responsive-lg basketData">
                            <tr>
                                <th>Sr.No</th>
                                <th>Basket Name</th>
                                <th>Basket Abbr</th>
                                <th>Campus</th>
                                <th>Actions</th>
                            </tr>
                            <% index=1; %>
                                <% basket.forEach(data=> { %>
                                    <tr id="basketRow" data-basketId="<%= data.id %>">
                                        <td>
                                            <%= index %>
                                        </td>
                                        <td id="inputBasketName">
                                            <%= data.basket_name %>
                                        </td>
                                        <td id="inputBasketAbbr">
                                            <%= data.basket_abbr %>
                                        </td>
                                        <td id="inputCampus">
                                            <%= data.campus_name %>
                                        </td>
                                        <td>
                                            <i class="fa-solid fa-trash-arrow-up deleteIcon" data-toggle='modal'
                                                data-toggle='tooltip' data-target="#deletModal" title='Delete Basket'
                                                width="2%" style="cursor:pointer;"></i>&ensp;
                                            <i class="fa-solid fa-pencil editIcon" id="editIcon" data-toggle='modal'
                                                data-toggle='tooltip' data-target="#exampleModalCenter"
                                                title='Edit Basket' width="2%"></i>&ensp;
                                        </td>
                                    </tr>
                                    <% index++; %>
                                        <% }) %>
                        </table>
                    </div>
                    <%- include('editModal.ejs') %>
                        <%- include('deleteModal.ejs') %>
                            <%- include('deleteSuccessModal.ejs') %>
            </div>


</body>

<%- include ('../partials/partial2') %>
    <script src="../js/script.js"></script>

    <script>

        document.addEventListener('click', (e) => {

            if (e.target.classList.contains('btnSubmit')) {

                let basketName = document.getElementById('inputBasketName').value;
                let basketAbbr = document.getElementById('inputBasketAbbr').value;
                let campus = document.getElementById('inputCampus').value;

                let basketValidation = basketValidator(basketName);
                let basketAbbrValidation = basketAbbrValidator(basketAbbr);
                let campusValidation = campusValidator(campus);

                if (basketValidation && basketAbbrValidation && campusValidation) {

                    let urlValue = window.location.search;
                    let fetchValue = new URLSearchParams(urlValue);
                    let eventId = fetchValue.get('id');

                    let obj = { basketName, basketAbbr, campus, eventId };
                    dynamicFetchApi('/elective/createBasket', 'POST', obj)
                        .then(async response => {
                            console.log('response:::: ', response.message);
                            if (response.status === 'error') {
                                window.location.href = `${response.redirectTo}`;
                            } else {

                                let modalBody = document.querySelector('#msgModal');
                                modalBody.innerHTML = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
                                await document.querySelector('[data-target="#messageModal"]').click();

                                let bsLid = response.basketLid;
                                let basketname = `<td>${basketName}</td>`;
                                let abbr = `<td>${basketAbbr}</td>`;
                                let campusNm = `<td>${campus}</td>`;
                                let actions = `<td>
                            <i class="fa-solid fa-trash-arrow-up" data-toggle='modal' data-toggle='tooltip' data-target='#deletModal' title='Delete'
                            width="2%"></i>&ensp;
                            <i class="fa-solid fa-pencil" data-toggle='modal' data-toggle='tooltip' data-target='#exampleModalCenter' title='Edit'
                            width="2%"></i>&ensp;
                            </td>`

                                console.log('bs ', bsLid)
                                let basketSize = '<%= (basket.length + 1) %>';
                                let record = document.getElementById('totalRecord');
                                record.innerText = basketSize + ' Record Found';

                                let insert = document.querySelector('.basketData');
                                let row = insert.insertRow(-1);
                                let lengthUpd = row.insertCell(0);
                                let cell = row.insertCell(1);
                                let cell1 = row.insertCell(2);
                                let cell2 = row.insertCell(3);
                                let cell3 = row.insertCell(4);


                                lengthUpd.innerHTML = basketSize;
                                cell.innerHTML = basketname;
                                cell1.innerHTML = abbr;
                                cell2.innerHTML = campusNm;
                                cell3.innerHTML = actions;

                                let modal = document.getElementById('getModal');
                                let modalBodie = `<div id='basketEditForm'>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nameInput">Basket Name</label>&ensp;&ensp;
                            <input value="${bsLid}" id ="bskId" hidden />
                            <input value="${basketName}" type="text" class="form-control" id="inputBasket" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="abbrInput">Basket Abbr</label>&ensp;&ensp;
                            <input value="${basketAbbr}" type="text" class="form-control" id="inputBasketAbbr" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="campusInput">Campus</label>&ensp;&ensp;
                        <select id="campusInput" class="form-control">
                            <option selected>Select Campus</option>
                            <% campus.forEach(data=> { %>
                                <option value='<%= data.campus_name %>'/>
                                    <%= data.campus_name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>`;

                                modal.innerHTML = modalBodie;

                                let cmp = document.getElementById('campusInput');
                                cmp.value = campus;  
                                console.log(cmp)
                            }

                        })
                }
            }

            if (e.target.classList.contains('deleteIcon')) {
                let bid = e.target.closest('tr').getAttribute('data-basketId');

                let confirmButton = document.querySelector('.confirmDelete');
                confirmButton.setAttribute('data-bid', bid);
            }

            if (e.target.classList.contains('confirmDelete')) {
                let confirmButton = document.querySelector('.confirmDelete');
                let basketId = confirmButton.getAttribute('data-bid');

                let obj = { basketId };
                dynamicFetchApi('/elective/deleteBasket', 'POST', obj)
                    .then(response => {
                        if (response.status === 'error') {
                            window.location.href = `${response.redirectTo}`;
                        } else {

                            let deleteModal = document.querySelector('#successModal');
                            deleteModal.innerText = response.message;

                            let basketRows = document.querySelectorAll('#basketRow');

                            Array.from(basketRows).forEach(row => {
                                let bsId = row.getAttribute('data-basketId');
                                if (basketId == bsId) {
                                    row.remove();
                                }

                            });

                            let basketLength = document.querySelector('#totalRecord');
                            let basketSize = basketRows.length - 1;
                            basketLength.innerText = `${basketSize} Record Found`;

                            document.querySelector('[data-target="#deleteSuccessModal"]').click();

                        }
                    })
            }

            if (e.target.classList.contains('editIcon')) {
                let tr = e.target.closest('tr');
                let basketDataId = e.target.closest('tr').getAttribute('data-basketId');
                let bsNameData = tr.querySelector('#inputBasketName').textContent;
                let bsAbbrData = tr.querySelector('#inputBasketAbbr').textContent;
                let bsCampusData = tr.querySelector('#inputCampus').textContent;

                let basketData = basketDataId.trim();
                let bsName = bsNameData.trim();
                let bsAbbr = bsAbbrData.trim();
                let bsCampus = bsCampusData.trim();

                console.log(bsName)

                let modal = document.getElementById('getModal');
                let modalBody = `<div id='basketEditForm'>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nameInput">Basket Name</label>&ensp;&ensp;
                            <input value="${basketData}" id ="bskId" hidden />
                            <input value="${bsName}" type="text" class="form-control" id="inputBasket" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="abbrInput">Basket Abbr</label>&ensp;&ensp;
                            <input value="${bsAbbr}" type="text" class="form-control" id="inputBasketAbbr" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="campusInputs">Campus</label>&ensp;&ensp;
                        <select id="campusInput" class="form-control">
                            <option selected>Select Campus</option>
                            <% campus.forEach(data=> { %>
                                <option value='<%= data.campus_name %>'/>
                                    <%= data.campus_name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>`;
  
                modal.innerHTML = modalBody;

                let cmp = document.getElementById('campusInput');
                cmp.value = bsCampus;  
                console.log(cmp)

            }
            if (e.target.classList.contains('editModal')) {

                let urlValue = window.location.search;
                let fetchValue = new URLSearchParams(urlValue);
                let eventId = fetchValue.get('id');

                let basket_id = $(e.target.closest('div')).prev().find('#bskId').val();
                let basketName = $(e.target.closest('div')).prev().find('#inputBasket').val();
                let basket_abbr = $(e.target.closest('div')).prev().find('#inputBasketAbbr').val();
                let campus = $(e.target.closest('div')).prev().find('#campusInput').val();

                let obj = { basket_id, basketName, basket_abbr, campus, eventId };

                dynamicFetchApi('/elective/editBasket', 'POST', obj)
                    .then(response => {
                        if (response.status === 'error') {
                            window.location.href = `${response.redirectTo}`;
                        } else {

                            let modalBody = document.getElementById('successModal');
                            modalBody.innerText = 'Basket Edited Successfully !!';

                            document.querySelector('[data-target="#deleteSuccessModal"]').click();

                            let basketRows = document.querySelectorAll('#basketRow');
                            let basketRowName = document.querySelector('#inputBasketName');
                            let basketRowAbbr = document.querySelector('#inputBasketAbbr');
                            let basketRowCampus = document.querySelector('#inputCampus');

                            Array.from(basketRows).forEach(row => {
                                let bskId = row.getAttribute('data-basketId');
                                let basketRowName = row.querySelector('#inputBasketName');
                                let basketRowAbbr = row.querySelector('#inputBasketAbbr');
                                let basketRowCampus = row.querySelector('#inputCampus');

                                if (basket_id == bskId) {
                                    basketRowName.innerText = basketName;
                                    basketRowAbbr.innerText = basket_abbr;
                                    basketRowCampus.innerText = campus;
                                }
                            })
                        }

                    })

            }

        })

        function basketValidator(basketName) {
            let basketError = document.getElementById('BasketError');

            if (basketName.length > 0) {
                return true;
            } else {
                basketError.innerText = '*Required';
                return false;
            }
        }

        function basketAbbrValidator(basketAbbr) {

            let abbrError = document.getElementById('BasketAbbrError');

            if (basketAbbr.length > 0) {
                return true;
            } else {
                abbrError.innerText = '*Required';
                return false;
            }

        }

        function campusValidator(campus) {

            let campusData = document.querySelectorAll('#inputCampus');
            let campusError = document.getElementById('campusError');

            let campusName = campusData[0][0].innerText;

            if (campusName == campus) {
                campusError.innerText = '*Invalid Input Field';
                console.log('Invalid campus');
                return false;
            }

            campusError.innerText = '';
            return true;

        }



    </script>

</html>