<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add Event</title>
  <%- include ('../partials/partial') %>
    <style>
      body {
        background-color: whitesmoke;
      }

      .signin {
        position: relative;
        top: 10px;
      }

      #eventMessage {
        margin-left: 20px;
        margin-top: 3px;

      }

      label {
        font-size: 18px;
      }

      #formsubmit {
        font-size: 20px;
      }

      .eventNewDiv {
        background-color: white;
        padding: 10px;
        width: 100%;   
       margin-top: 30px;
        border-radius: 10px;
      }
     
      .eventForm {

        background-color: white;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 20px;
        /* width: 100%;
        transition: 0.8s; */
        padding-bottom: 15%;

      }

      input,
      select {
        margin-bottom: 10px;
      }

      span{
        color:red;
      }
    </style>
</head>

<body>
  <%- include('sidebar.ejs') %>
    <%- include('header.ejs') %>

      <div id="mains" class="container">

        <%- include('messageModal.ejs') %>
        <%- include('loader.ejs') %>

       
          <div class="row justify-content-center">
            <div class="divWidth">
              <div class="eventNewDiv card">
                <div class="card-body">
                  <div class="eventForm">
                    <div style="margin:0;" id="formdata">
                      <div class="form-group">
                        <label for="Event">Event Name</label>&ensp;&ensp;<span id="eventError"></span>
                        <input type="text" class="form-control" id="event" name="eventName" placeholder="Event Name">
                      </div>
                      <div class="form-group">
                        <label for="Semester">Semester</label>&ensp;&ensp;<span id="sessionError"></span>
                        <select id="session_master" name="semester" class="form-control">
                          <option value="Select Acad Session" selected>Select Acad Session</option>
                          <% acadSession.forEach(data=> { %>
                            <option>
                              <%= data.current_session %>
                            </option>
                            <% });%>
                        </select>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="acad_year">Acad Year</label>&ensp;&ensp;<span id="yearError"></span>
                          <select id="acad_year" name="acad_year" class="form-control">
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="campus">Campus</label>&ensp;&ensp;<span id="campusError"></span>
                          <select id="campus" name="campus" class="form-control campusOption">
                            <option selected>Select Campus</option>
                            <% campus.forEach(data=> { %>
                              <option>
                                <%= data.campus_name %>
                              </option>
                              <% }); %>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="Start Date">Start Date</label>&ensp;&ensp;<span id="startError"></span>
                          <input type="datetime-local" name="start_date" class="form-control" id="start_date">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="End Date">End Date</label>&ensp;&ensp;<span id="endError"></span>
                          <input type="datetime-local" name="end_date" class="form-control" id="end_date">
                        </div>
                      </div>
                      <button type="submit" id="formSubmit" class="btn btn-danger signin submitBtn">Add Event</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
</body>

<%- include ('../partials/partial2') %>
  <script src="../js/script.js"></script>
  <script>

    acadYear();

    function acadYear() {

      let acadYear = document.querySelector('#acad_year');
      dynamicYear(acadYear);

    }


    document.getElementById('formSubmit').addEventListener('click', async () => {
      let eventName = document.getElementById('event').value;
      let semester = document.getElementById('session_master').value;
      let acad_year = document.getElementById('acad_year').value;
      let campus = document.getElementById('campus').value;
      let start_date = document.getElementById('start_date').value;
      let end_date = document.getElementById('end_date').value;

      let eventValidation = eventValidator(eventName);
      let sessionValidation = sessionValidator(semester);
      let yearValidation = yearValidator(acad_year);
      let campusValidation =campusValidator(campus);
      let startValidation = startValidator(start_date);
      let endValidation = endValidator(end_date);

      console.log('button clicked ');
      console.log(eventValidation,sessionValidation,yearValidation,campusValidation,startValidation,endValidation);

      if(eventValidation && sessionValidation && yearValidation && campusValidation && startValidation && endValidation){

      let obj = { eventName, semester, acad_year, campus, start_date, end_date };
      
      let loader=document.querySelector('.overlay');
      loader.style.display = 'block';

      dynamicFetchApi(`<%- BASE_URL %>elective/eventData`, 'POST', obj)
        .then(response => {
          console.log('Error ', response.message);
          if (response.status === 'error') {
            loader.style.display = 'none';
            window.location.href = `<%- BASE_URL %>elective/loginPage`;
          } else {

            if (response.status === 'success') {
              loader.style.display = 'none';
              window.location.href = response.redirectTo;
            } else {
              loader.style.display = 'none';
              let msg = document.getElementById('msgModal');
              let modalPage = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
              msg.innerHTML = modalPage;
              document.querySelector('[data-target="#messageModal"]').click();
            }
          }
        });
      }
    });

    function eventValidator(eventName) {
        let eventError = document.getElementById('eventError');

      if (eventName.length > 0) {

        eventError.innerText = '';
        let count = 0;
        for (let i = 0; i < eventName.length; i++) {
          let prg = eventName.charAt(i);
          if (prg >= 0 && prg <= 9) {
            count++;
          }
        }

        if (count == eventName.length) {
          eventError.innerText = '*Event Name Cannot Be Numeric';
          return false;
        } else {
          eventError.innerText = '';
          return true;
        }


        } else {
          eventError.innerText = '*Required';
        return false;
        }
    }

      function startValidator(start_date){
        let startError = document.getElementById('startError');
        if(start_date.length > 0){
          startError.innerText = '';
          return true;
        }else{
          startError.innerText = '*Required';
          return false;
        }
      }

      function endValidator(end_date){
        let endError = document.getElementById('endError');
        if(end_date.length > 0){
          endError.innerText = '';
          return true;
        }else{
          endError.innerText = '*Required';
          return false;
        }
      }

      function yearValidator(acadyear){
        let acadYears = document.querySelectorAll('#acad_year');
        let acadError = document.getElementById('yearError');

        let year = acadYears[0][0].innerText;
        if(year === acadyear){
          acadError.innerText = '*Invalid Input';
          return false;
        }else{
          acadError.innerText = '';
          return true;
        }

      }

      function sessionValidator(acadSession) {
          let acadSessions = document.querySelectorAll('#session_master');
          let sessionError = document.getElementById('sessionError');

          let session = acadSessions[0][0].innerText;

          console.log(session,acadSession);
          if (session === acadSession) {
            sessionError.innerText = '*Invalid Input';
            return false;
          } else {
            sessionError.innerText = '';
            return true;
          }
        }

        function campusValidator(campus) {
            let campuses = document.querySelectorAll('#campus');
            let campusError = document.getElementById('campusError');

            let getCampus = campuses[0][0].innerText;
            if (campus === getCampus) {
              campusError.innerText = '*Invalid Input';
              return false;
            } else {
              campusError.innerText = '';
           return true;
          }
        }

  </script>

</html>