<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Add Event</title>
  <%- include ('../partials/partial') %>
    <style>
      body {
        background-color: whitesmoke;
      }

      .signin {
        position: relative;
        top: 10px;
      }

      #eventMessage {
        margin-left: 20px;
        margin-top: 3px;

      }

      label {
        font-size: 18px;
      }

      #formsubmit {
        font-size: 20px;
      }

      .eventNewDiv {
        background-color: white;
        padding: 10px;
        width: 135%;
        margin-top: 30px;
        border-radius: 10px;
      }

      .eventForm {

        background-color: white;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 20px;
        width: 100%;
        transition: 0.8s;
        padding-bottom: 15%;

      }

      input,
      select {
        margin-bottom: 10px;
      }
    </style>
</head>

<body>
  <%- include('sidebar.ejs') %>
    <%- include('header.ejs') %>

      <div id="mains">

        <%- include('messageModal.ejs') %>

          <div class="eventNewDiv">
            <div class="eventForm">
              <div style="margin:0;" id="formdata">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="Event">Event Name</label>
                    <input type="text" class="form-control " id="event" name="eventName" placeholder="Event Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Semester">Semester</label>
                  <select id="session_master" name="semester" class="form-control ">
                    <option value="Select Semester" selected>Select Acad Session</option>
                    <% acadSession.forEach(data=> { %>
                      <option>
                        <%= data.current_session %>
                      </option>
                      <% });%>
                  </select>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="acad_year">Acad Year</label>
                    <select id="acad_year" name="acad_year" class="form-control ">
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="campus">Campus</label>
                    <select id="campus" name="campus" class="form-control  campusOption">
                      <option selected>Select Campus</option>
                      <% campus.forEach(data=> { %>
                        <option>
                          <%= data.campus_name %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Start Date">Start Date</label>
                    <input type="datetime-local" name="start_date" class="form-control " id="start_date">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="End Date">End Date</label>
                    <input type="datetime-local" name="end_date" class="form-control  " id="end_date">
                  </div>
                </div>
                <button type="submit" id="formSubmit" class="btn btn-danger signin submitBtn">Add Event</button>
              </div>
            </div>
          </div>
      </div>
      </div>
</body>

<%- include ('../partials/partial2') %>
  <script src="../js/script.js"></script>
  <script>

    acadYear();

    function acadYear() {

      let acadYear = document.querySelector('#acad_year');
      dynamicYear(acadYear);

    }


    document.getElementById('formSubmit').addEventListener('click', async () => {
      let eventName = document.getElementById('event').value;
      let semester = document.getElementById('session_master').value;
      let acad_year = document.getElementById('acad_year').value;
      let campus = document.getElementById('campus').value;
      let start_date = document.getElementById('start_date').value;
      let end_date = document.getElementById('end_date').value;

      let obj = { eventName, semester, acad_year, campus, start_date, end_date };
      dynamicFetchApi('/elective/eventData', 'POST', obj)
        .then(response => {
          console.log('Error ', response.message);
          if (response.message === 'error') {
            window.location.href = '/elective/loginPage';
          } else {

            if (response.status === 'success') {
              window.location.href = response.redirectTo;
            } else {

              let msg = document.getElementById('msgModal');
              let modalPage = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
              msg.innerHTML = modalPage;
              document.querySelector('[data-target="#messageModal"]').click();
            }
          }
        });

    });

  </script>

</html>