<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Programs</title>
    <%- include ('../partials/partial') %>
    <style>
        body{
         background-color: whitesmoke;
         padding:0;
         margin:0;
        }
        #uploadOptions{
         background-color: white;
         width:1450px;
         padding:20px;   
         position:relative;
         top: 40px;
         font-size:18px;
         border-radius: 10px;
         left:20px;
        }
        #uploadViaExcel{
          margin-bottom: 20px;       
        }
  
        #uploadFormat{
          position:relative;
          top:100px;  
          background-color: white;
          padding:30px;
          border-radius:10px;
          left:20px;
        }
        #fileName{
          margin-top: 20px;
          margin-bottom: 10px;
        }
        #excelHeading{
          margin-top:20px;
          margin-bottom:20px;
        }
        #excelProgramSubmit , #excelCancel{
          margin-top:20px;
          margin-bottom:20px;
        }
        select {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        #campusError,#ProgramnameError,#ProgramIdError{
         color:red;
        }
        #nonInsertedPrograms{
          margin-top:80px;
          background-color: white; 
          margin-left:20px;
        }
        #nonInsertedPrgMessage{
          margin-top:150px;
          text-align:center;  
          width:100%;
          margin-left:20px;
          visibility:hidden;
        }    
        th{
    background-color: #e6f7ff;
      }
    tr:nth-child(odd) {
    background-color: #e6f7ff;
    }
    tr:nth-child(even) {
    background-color: white;
    }
      .notes{
        margin-left: 0;
      }  
   
    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="mains">

     <%- include('messageModal.ejs') %>

     <div id= "uploadOptions" >
     <h3>Upload Programs</h3>
     <hr/>
     <input type="radio" name="uploadPrograms" id="uploadViaExcel" checked /> Upload Via Excel</br>
     <input type="radio" name="uploadPrograms" id="uploadViaManually" /> Upload Via Manually</br>
     </div>
     
     <div id="uploadFormat">

     </div>

     <div id="nonInsertedData">
     <h4 id="nonInsertedPrgMessage">Program's Data Not Inserted Due To Invalid Input Fields</h4>
     <div id="nonInsertedPrograms">
      

     </div>
     </div>
    
</body>
<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script>

    let excelProgram = `<div id="heading"><h2>Upload Program's file(Excel):</h2></div>
             <div>
             <input type="file" id='fileName' name = "programDetails" /></br>
             <button type="submit" class="btn btn-primary excelDataSubmit" id='excelProgramSubmit' >Upload</button>&nbsp;<button id='excelCancel' type="submit" class="btn btn-danger excelDataCancel" >Cancel</button>
             </div>
             </div>

             <ul>
                <li class="notes">Kindly Verify The File Before Uploading</li>
                <li class="notes"><b style="color:red; ">*</b>The selection of all fields is mandatory.</li>
                <li class="notes"><b style="color:red; ">*</b>The Acad Year and Campus field should only be selected, not written.</li> 
              </ul>

             <div id='displayNote' style="margin-top: 60px; "><a style="text-decoration:none;font-size:20px;" class="text-danger" href="/excel/Program_Excel.xlsx" id="downloadExcel"  >Download Sample Template</a></br>
             <h4 id="excelHeading">Excel Format:</h4>
             <p>Program Name | Campus | Program Id</p>
             </div>`;

    defaultFormatDisplay();

    function defaultFormatDisplay(){
    let upload = document.querySelector('#uploadFormat');
      upload.innerHTML = excelProgram;
  
    }

    document.getElementById('uploadViaExcel').addEventListener('change', () => {
      console.log('function called');
        
    let upload = document.querySelector('#uploadFormat');
        upload.innerHTML = excelProgram;

    });

    document.getElementById('uploadViaManually').addEventListener('change', () => {
        let upload = document.querySelector('#uploadFormat');
        
        let manualData = `<div>
      <div class="form-row">
      <div class="form-group col-md-12">
      <label for="inputProgramName">Program Name</label>&ensp;&ensp;<span id="ProgramnameError"></span>
      <input type="text" class="form-control" id="inputProgramName" placeholder="Program Name">
      </div>
      </div>
      <div class="form-row">
      <label for="inputCampus">Campus</label>&ensp;&ensp;<span id="campusError"></span>
      <select id="inputCampus" class="form-control">
        <option selected>Select Campus</option>
        <% campus.forEach(data => { %>
           <option value='<%= data.campus_name %>'><%= data.campus_name %></option>
        <% }); %>
      </select>
      </div>
      <div class="form-row">
      <div style="margin-top:20px;" class="form-group col-md-12">
      <label for="inputProgramId">Program Id</label>&ensp;&ensp;<span id="ProgramIdError"></span>
      <input type="text" class="form-control" id="inputProgramId" placeholder="Program Id">
      </div>
      </div>
      <button type="submit" id="submitbtn" class="btn btn-danger mt-4 btnSubmit">Add Program</button>
      </div>`

    upload.innerHTML = manualData;

    });

    
     document.addEventListener('click',async (e) => {
     if(e.target.classList.contains('excelDataSubmit')){ 
     
     let fileInput = document.querySelector('#fileName').value;
     let filePath = fileInput.substring(fileInput.lastIndexOf('.'),fileInput.length);

     let fileValidation = fileError(filePath);
     console.log('File path: ' + fileValidation);

     if(fileValidation){

     let getFile = document.querySelector('#fileName');
     let fileData = getFile.files[0];
     
     const formData = new FormData();
     formData.append("programFile",fileData);

     dynamicExcelUploadFetch(`<%- BASE_URL %>elective/insertProgramsViaExcel`,'POST',formData)
     .then(response => {
         if (response.status === 'error') {
           window.location.href = `${response.redirectTo}`;

         } else if (response.status === 'fileError') {

           let msg = document.getElementById('msgModal');
           let modalPage = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
           msg.innerHTML = modalPage;
           document.querySelector('[data-target="#messageModal"]').click();

         } else {
           messageDisplay(response);
         }  
     });

     }else{
      
      let message = `File Must Be In Excel Format Only !!`;

      let msg = document.getElementById('msgModal');
      let modalPage = `<div><h4 style="text-align:center;">${message}</h4></div>`
      msg.innerHTML = modalPage;
      document.querySelector('[data-target="#messageModal"]').click();
       
     }
     }
     });   

    async function messageDisplay(response){

      let msg = document.getElementById('msgModal');
      let modalPage = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
      msg.innerHTML = modalPage;
      document.querySelector('[data-target="#messageModal"]').click();
       

      if(response.status === 'success'){

      let nonInsertedProgramsArray = await response.nonInsertedPrograms;  

      if(nonInsertedProgramsArray.length != 0){

      let  iTag = `<i style='font-weight:bold;color:red;'>Empty Field</i>`;
            
      let nonInsertedData = `<table class="table table-bordered table-responsive-lg text-center" >
                                 <tr>
                                 <th>Sr No.</th>
                                 <th>Program Name</th>
                                 <th>Campus</th>
                                 <th>Program Id</th>  
                                 </tr>
                                 ${nonInsertedProgramsArray.map((data, index) => `
                                 <tr>
                                 <td>${index + 1}</td>
                                 <td>${data.program ? data.program : iTag }</td>
                                 <td>${data.campus ? data.campus : iTag}</td>
                                 <td>${data.programId ? data.programId : iTag}</td>
                                 </tr>`
                                 ).join('')}
                                 </table>`;

      let nonInsertedMessage = document.querySelector('#nonInsertedPrgMessage');
      nonInsertedMessage.style.visibility = 'visible';

      let nonInsertedPrograms = document.querySelector('#nonInsertedPrograms');
      nonInsertedPrograms.innerHTML = nonInsertedData;

      }
      
      }
    }

  
    document.addEventListener('click', (e) => {

      if(e.target.classList.contains('btnSubmit')){
      
      let program = document.getElementById('inputProgramName').value;
      let campus = document.getElementById('inputCampus').value;
      let programId = document.getElementById('inputProgramId').value;

      let campusValidation =  campusValidator(campus);
      let programIdValidation = programIdValidatior(programId); 

      console.log('campus------ ' , campusValidation);
      console.log('program id validation:: ',programIdValidation);

      if(campusValidation && programIdValidation){

       let obj = {program,campus,programId};

       dynamicFetchApi(`<%- BASE_URL %>elective/insertprogramManually`,'POST', obj)
      .then(responseData => {
       if(responseData.status === 'error'){
        window.location.href= `${responseData.redirectTo}`;  
       }else{

        let msg = document.getElementById('msgModal');
        let modalPage = `<div><h4 style="text-align:center;">${responseData.message}</h4></div>`
        msg.innerHTML = modalPage;
        document.querySelector('[data-target="#messageModal"]').click();
    
       }
      });
      }
    }
    })
    


    function campusValidator(campus){
     
      let campusData = document.querySelectorAll('#inputCampus');
      let campusError = document.getElementById('campusError');
  
      let campusName = campusData[0][0].innerText;
    
      if(campusName == campus){
      campusError.innerText = '*Invalid Input Field';  
      console.log('Invalid campus');
      return false;
      }

      campusError.innerText = '';
      return true;
    
    }

    function programIdValidatior(programId){

      let programError = document.getElementById('ProgramIdError');

      if(programId.length > 0){
        
      let programIdValidate = specialCharacterValidation(programId);

      if(programIdValidate){
        programError.innerText = '';
        return true; 

      }else{
       programError.innerText = '*Invalid Input Field'; 
       return false;
      }

      }else{
        programError.innerText = '*Required';
        return false;
      }
    }

    document.addEventListener('click',(e) => {
      if(e.target.classList.contains('excelDataCancel')){
      cancelButtonRedirect(`<%- BASE_URL %>elective/dashboard`);
      }
    });
    







</script>
</html>