<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basket Course</title>
    <%- include ('../partials/partial') %>
    <style>
     body{
        background-color: whitesmoke;
     }   
     #basketConfig{
        background-color: white;
        margin-top:20px;
        padding:20px;
     }
     span{
        color:red;
     }
    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %> 
    <div id="mains">
        <%- include('messageModal.ejs') %>
        <div id='basketConfig' class="container">
            <div class="form-group ">

                <label for="inputBasket">Select Basket's</label>&ensp;&ensp;<span id="basketError"></span>
                <select id="inputBasket" class="form-control basketInput">
                  <option selected>Select Basket</option>
                  <% baskets.forEach(data => { %>
                  <option  class="basketOption" value='<%= data.id %>'><%= data.basket_name %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group ">
                <label for="inputCourse">Select Course's</label>&ensp;&ensp;<span id="courseError"></span>
                <select id="inputCourse" class="form-control" multiple>
                <option></option>
                </select>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="compulsorySub">Select Compulsory Subjects</label>&ensp;&ensp;<span
                        id="compError"></span></br>
                    <input  type="text" class="form-control" id="compulsorySub" placeholder="Compulsory Subjects">
                </div>
            </div>
            <button type="submit" id="submitbtn" class="btn btn-danger mt-4 btnSubmit">Add</button>
        </div>
    </br>

    <div>   
    <h5><%= dispBasket.length %> Record Found</h5> 
    
    <table class="table table-bordered table-responsive-lg basketData" style="text-align: center;">
        <tr>
            <th>Sr.No</th>
            <th>Basket Name</th>
            <th>Semester</th>
            <th>Campus</th>
            <th>Compulsory Subjects</th>
            <th>Actions</th>
        </tr>
        <tbody>
        <% index = 1; %>
        <% dispBasket.forEach(data => { %>
        <tr data-basketId = "<%= data.id %>">
            <td><%= index %></td>
            <td><%= data.basket_name %></td>
            <td><%= data.current_session %></td>
            <td><%= data.campus_name %></td>
            <td><%= data.no_of_comp_subj %></td>
            <td>
            <i class="fa-solid fa-trash-arrow-up deleteIcon" data-toggle='modal'
            data-toggle='tooltip' data-target="#deletModal" title='Delete Basket'
             width="2%" style="cursor:pointer;"></i>  
            </td>
        </tr>
        <% index++ %>
        <% }); %> 
    </tbody>
    </table> 
    
    <%- include('deleteModal.ejs') %>
    <%- include('deleteSuccessModal.ejs') %>
    </div>




    </div>
</body>
<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script>

    document.addEventListener('change', function (e) {
        if (e.target.classList.contains('basketInput')) {
            let basketId = e.target.value;
            let obj = { basketId };

            let baskets = document.querySelectorAll('#inputBasket');
            let basketError = document.getElementById('basketError');
            let defaultBasket = baskets[0][0].innerText;

            if(defaultBasket != basketId){

              basketError.innerText = '';  

            dynamicFetchApi('/elective/getBasketSubject', 'POST', obj)
                .then(response => {
                    if (response.status === 'error') {
                        window.location.href = `${response.redirectTo}`;
                    } else {

                        let course = document.querySelector('#inputCourse');
                        let coursesData = response.courses;

                        console.log(JSON.stringify(coursesData))
                        let option ;
                        Array.from(coursesData).forEach(data => {
                            option += `<option value="${data.sub_id}">${data.subject_name}</option>`

                        });
                        course.innerHTML ="";
                        course.insertAdjacentHTML('beforeEnd', option);
                    }
                })
            }else{
                let course = document.querySelector('#inputCourse');
                course.innerHTML = '';
                basketError.innerText = '*Invalid Input';
            }
        }
    });

            document.addEventListener('click', function (e) {

                if (e.target.classList.contains('btnSubmit')) {
                    let basketSubjects = document.getElementById('inputCourse');

                    let basketId = document.getElementById('inputBasket').value;
                    let basketCourses = Array.from(basketSubjects).filter(data => data.selected).map(data => data.value);
                    let compulsorySub = document.getElementById('compulsorySub').value;

                    let subjectValidation = checkSubjectValidation(compulsorySub, basketCourses.length);
                    let basketValidation = checkBasketValidation(basketId);
                    let coursesValidation = checkCoursesValidation(basketCourses);

                    console.log(basketId, JSON.stringify(basketCourses), compulsorySub);

                    if (basketValidation && coursesValidation && compulsorySub) {

                        let obj = { basketId, basketCourses, compulsorySub };
                        
                       dynamicFetchApi('/elective/insertBasketCourses', 'POST', obj)
                            .then(response => {
                                if (response.status === 'error') {
                                    window.location.href = `${response.redirectTo}`;
                                } else {
                                   
                                let modalBody = document.getElementById('msgModal');
                                modalBody.innerHTML = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
                                    
                                document.querySelector('[data-target="#messageModal"]').click();
                                }
                            })

                    }
                }

                if(e.target.classList.contains('deleteIcon')){
                   let basket = e.target.closest('tr').basketid;
                   console.log(basket);

                }
            });

            function checkBasketValidation(basketId) {
                    let basketError = document.getElementById('basketError');
                    let baskets = document.querySelectorAll('#inputBasket');
                    let defaultBasket = baskets[0][0].innerText;

                    if (basketId != defaultBasket) {
                        basketError.innerText = '';
                        return true;
                    } else {
                        basketError.innerText = '*Invalid Inputs';
                        return false;
                    }

                }

                function checkCoursesValidation(basketCourses) {
                    let courseError = document.getElementById('courseError');

                    if (basketCourses.length > 0) {
                        courseError.innerText = '';
                        return true;
                    } else {
                        courseError.innerText = '*Invalid Inputs';
                        return false;
                    }
                }

    function checkSubjectValidation(compSub, basketLength) {
            let courseError = document.getElementById('compError');

            if (compSub.length > 0) {

                let numberValidation = NumberValidation(compSub);
                if (numberValidation) {

                    let sublength = Number.parseInt(compSub);
                    console.log('basket length ', basketLength, sublength)

                    if (basketLength >= sublength) {
                        courseError.innerText = '';
                        return true;
                    } else {
                        courseError.innerText = '*Compulsory Subjects must be equal to or less than selected subjects';
                        return false;
                    }

                } else {
                    courseError.innerText = '*Invalid Inputs';
                    return false;
                }

            } else {
                courseError.innerText = '*Required';
                return false;
            }

        }





</script>
</html>