<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dashboard</title>
    <%- include ('../partials/partial') %>
<style>
  body{
    background-color: whitesmoke;
  }
  #DashboardTab{
    width:18%;
  }
 
</style>

</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs') %>
    <div id="main">
        <% module.forEach(data => { %>
            <div id="mainDiv">
                <img id="DashboardTab" src="<%= data.photo %>" />&ensp;
                <a id="horizontalModule" href="<%= data.url %>"><%= data.module_name %></a>
            </div>
        <% }); %>
        <a href="/elective/error" >Error Page</a>
    </div>
    
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
</html>