<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('../partials/partial') %>
    <title>Login Page</title>

<style>
   body{
      background-color: whitesmoke;
      padding:0;
      margin:0;
   }
 #commonDisplayMessage{
   display: flex;
   background-color: #FFB6C1;
   justify-content: center;
   visibility: hidden;
 }
 span{
  font-size:20px;
  font-family: 'Lilita One', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  padding:5px;
  color:#800000;
  font-weight:bold;
  width:100%;
 }
 #closebutton{
  color:#800000;
  background-color: #FFB6C1;
  margin-right:20px;
  border:0;
 }
 #closebutton:focus{
  outline: none;
 }

 .container{
     background-color:white;
     border-radius: 10px;
     box-shadow: 0 0 8px lightgray;
     margin:auto;
     margin-top:8%;
     display:flex;
     padding:10px
    }
    h2{
    text-align:center;
    text-decoration-line: underline;
    text-decoration-style: double;
    margin-top:20px;
    margin-bottom:70px;    
    }

    #login{
        background-color: red;
        margin-top:30px;
        color:white;
        width:90%;
        margin-left:20px;

    }
    input{
        width:90%; 
        border:0;
        border-bottom: solid black 2px;
    }
    input:focus{
   outline: none;
     }
     button:focus{
      outline: none;
     }
     .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
      outline: none !important;
      box-shadow: none !important;
    }
    @media screen and (max-width: 767px) {
     .container{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        
     }
     #nmims{
        width: 100%;
     }
     input{
        width:90%;
     }
     button{
      width:90%;
      margin-left: 20px;
      
     }
      span{
        font-size:15px;
     margin-left: 40%;
      }
      #closebutton{
        width:18px;
        margin-left: 30%;
      }
    }



</style>   

</head>
<body>
 

<div id="commonDisplayMessage">
  <span id="showMessage"></span> 
 <button class="fa fa-close closeBtn" id= "closebutton" style="font-size:24px" ></button>
</div>

<div class="container">
  <%- include('messageModal.ejs') %>
  
  <div style="padding:20px;margin-right:20px;" class="col-sm photoDiv">
    <img width="25%" src="../images/logo-nmims-prod.png" /></br>
    <img id="nmims" width="100%;" src="../images/login-animate-nmims.svg" />
  </div>
  
  <div id="loginPage" class="col-sm">
    <h2 style="margin-bottom: 20%;">Welcome</h2>
    <div>
      <div>
        <div style="display: flex;"><i class="fa-solid fa-user mt-2"></i>&ensp;<input name="username" id="user"
            style="margin-bottom: 50px;" placeholder="LoginId" type="text" /></div>
      </div>
  
      <div class="form-group">
        <div style="display: flex;"><i class="fa-solid fa-lock mt-2"></i>&ensp;<input name="password" id="pass"
            placeholder="Password" type="password" />
          <i class="fa-solid fa-eye" id="passIcon"></i>
        </div></br>
        <a href="#" data-toggle="modal" data-target="#passwordModal"
          style="position:relative;margin-left:83%;text-decoration: none;color:red;font-weight: bold;" id="forgotPass">Forgot?</a>
      </div>
  
      <button type="submit" id="login" class="btn font-weight-bold">Login ?</button>
  
  
    </div>
  
  </div>


  <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">Reset Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-4">
          <div id="mainBody">
            <div>
          <h6>Enter the Username</h6><p style="color:red;" id="unameError"></p>
          <input id="inputUser" type="text" class="form-control" placeholder="Username" />&ensp;
           </div>
        </div>
          <hr>
          <div id="submitBtn">
          <buttton class="submitUser btn btn-primary float-right">Submit</buttton>
          </div>
        </div>
      </div>
    </div>
  </div> 

  </div>


  
</body>
<%- include ('../partials/partial2') %>
<%- include('resetPassword.ejs') %>

<script src= "../js/script.js" ></script>

<script>

    //For Enter Button for Login
    document.getElementById('pass').addEventListener('keypress', function(event) {
      if (event.key === 'Enter'){
       
        let username = document.getElementById('user').value;
        let password = document.getElementById('pass').value;
     
        let obj = {username , password};

        dynamicFetchApi(`<%- BASE_URL %>elective/login`,'POST',obj)
        .then(responseData => {
        if(responseData.status === 'Error'){
         window.location.href=`${responseData.redirectTo}`;
        }else{

        if(responseData.status === 'success'){
          console.log(responseData)
        window.location.href = responseData.redirectTo;
        }else{
          console.log(responseData)
        let displayMessage = document.getElementById('commonDisplayMessage');
        let showMessage = document.getElementById('showMessage');
        let message = responseData.message;

        showMessage.innerText = message;
      
        displayMessage.style.color = 'red';
        displayMessage.style.visibility = 'visible';

        } 
      } 
      });
      }
    });

    document.getElementById('login').addEventListener('click',async () => {
     let username = document.getElementById('user').value;
     let password = document.getElementById('pass').value;
     
     let obj = {username , password};

     dynamicFetchApi(`<%- BASE_URL %>elective/login`,'POST',obj)
     .then(responseData => {
        if(responseData.status === 'Error'){
         window.location.href=`${responseData.redirectTo}`;
        }else{

        if(responseData.status === 'success'){
        window.location.href = responseData.redirectTo;
        }else{
        let displayMessage = document.getElementById('commonDisplayMessage');
        let showMessage = document.getElementById('showMessage');
        let message = responseData.message;

        showMessage.innerText = message;
        
        displayMessage.style.color = 'red';
        displayMessage.style.visibility = 'visible';

        }
        } 
        });

    });
     
    errormessage();
    
    //Displaying Error Message
    async function errormessage(){
    let displayMessage = document.getElementById('commonDisplayMessage');

    if(window.location.hash === '#sessionTimeout'){
      let message = `Oops Session Timeout, Please Login Again!!`;

      let showMessage = document.getElementById('showMessage');
        showMessage.innerText = message;

      displayMessage.style.color = 'red';
      displayMessage.style.visibility = "visible";
     
    }
    }

    document.getElementById('closebutton').addEventListener('click',() =>{

    let displayMessage = document.getElementById('commonDisplayMessage');
    let path = window.location.pathname;
    window.location.href = path
    displayMessage.style.visibility = "hidden";

  
    })

    document.getElementById('passIcon').addEventListener('click', () =>{
      console.log('Icon clicked');

      let passwordIcon = document.getElementById('passIcon');
      let passInput = document.getElementById('pass');

      if (passwordIcon.classList.contains('fa-eye')) {
        passInput.setAttribute('type', 'text');
        passwordIcon.classList.remove('fa-eye');
        passwordIcon.classList.add('fa-eye-slash');
      } else {
        passInput.setAttribute('type', 'password');
        passwordIcon.classList.remove('fa-eye-slash');
        passwordIcon.classList.add('fa-eye');
      }
    });

</script>
</html>