<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/partial') %>
    <title>Programs</title>
    
    <style>
      body{
        background-color: whitesmoke;
      }  
    </style>

</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">
        <% childModules.forEach(data => { %>
            <div id="mainDiv">
              <a id="horizontalModule"  href="<%= data.url %>">
                <div style="display: flex;justify-content: center;">
                <img src="<%= data.photo %>" style= "width:15%;position:relative;bottom:18px;" />&ensp;
               <p><%= data.module_name %></p>
                </div>
              </a>
            </div>
          <% }); %>
    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
</html>