<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/partial') %>
        <title>Select Basket</title>

        <style>
            body {
                background-color: whitesmoke;
            }

            #basketDiv {
                margin-top: 30px;
                background-color: white;
                padding: 30px;
                border-radius: 20px;
                width: 1450px;
            }

            #subjectColumn {
                margin-left: 430px;
            }

            #basketSubject {
                margin-left: 20px;
            }

            #note {
                margin-bottom: 50px;
            }
            .insertNext :focus{
              outline:none;
            }
            .reset :focus{
              outline:none;
            }
        </style>

</head>

<body>
    <%- include('sidebar.ejs') %>
        <%- include('header.ejs') %>
            <div id="mains">
                <%- include('messageModal.ejs') %>
                <%- include('loader.ejs') %>

                <% if(showBasket.length > 0) { %>
                    <h4 id="eventName" class="mt-4 ml-4" data-eventLid="<%= showBasket[0].event_lid %>">
                        Event: <%= showBasket[0].event_name %>
                    </h4>

                    <div id="basketDiv">
                        
                        <h3 style="text-align:center;" id="basketName" data-basketLid="<%= showBasket[0].id %>"
                            data-compSub="<%= showBasket[0].no_of_comp_sub %>">
                            Basket: <%= showBasket[0].basket_name %>
                        </h3>
                        </br>
                        <h5>
                            Preference Order
                        </h5>
                        <p id="note" style="color:red;">*Please Check The Order Of Preferences Here As Selected From 1
                            To 5,
                            Deselect and Reselect
                            Subject To Change Order If Needed </p>
                        <div>
                            <% let index=1; %>
                                <% for(let i=1;i<=5;i++) {%>
                                    <div style="display: flex;align-items:center;"><span class="mr-2">
                                            Preference No.<%= index %>.
                                        </span><select class="selectSubject form-control">
                                            <option id="defaultCourse" selected>Select Course</option>
                                            <% showBasket.forEach(datas=> { %>
                                                <option class="subjectName" value="<%= datas.sub_id %>">
                                                    <%= datas.subject_name %>
                                                </option>
                                                <% }) %>
                                                    <% yearBackSubjects.forEach(data=> { %>
                                                        <option style="color:grey;" disabled>
                                                            <%= data.subject_name %>
                                                        </option>
                                                        <% }); %>
                                        </select></div></br>

                                    <% index++; %>
                                        <% } %>
                        </div>
                        <div>
                        </div>
                        <button class="btn btn-primary ml-3 mt-4 reset">Reset</button><button
                            class="btn btn-danger ml-3 mt-4 insertNext">Next</button> 
                    </div>
                    <% }else{ %>
                        <h2  style="text-align:center;margin-left:30px;margin-top:60px;">-------------------------------------------No Baskets Found--------------------------------------------------</h2>
                    <% }; %>  
            </div>
</body>

<%- include ('../partials/partial2') %>
    <script src="../js/script.js"></script>
    <script>

        document.addEventListener('click', function (e) {

            if (e.target.classList.contains('reset')) {
                let selectValue = document.querySelectorAll('.selectSubject');
                let defaultCourse = document.querySelectorAll('#defaultCourse');
                let resetValue =defaultCourse[0].innerText;

                Array.from(selectValue).forEach(reset => {
                  reset.value = resetValue;  
                })
                console.log('reset value ',resetValue);

            }

            if (e.target.classList.contains('insertNext')) {
                const currentTime = new Date();
                const time = currentTime.toLocaleString('en-US', { hour12: false });
                const timeParts = time.split(',');
                const timeString = timeParts[1].trim();

                console.log("timestring ", timeString);

                let compSub = document.querySelector('#basketName').getAttribute('data-compSub');
                let eventLid = document.querySelector('#eventName').getAttribute('data-eventLid');
                let userLid = "<%= module[0].id %>";
                let basketLid = document.querySelector('#basketName').getAttribute('data-basketLid');

                console.log(compSub, eventLid, userLid, basketLid);
                let courseArray = [];

                let selectSubject = document.querySelectorAll('.selectSubject');
                let counter = 1;
                Array.from(selectSubject).forEach(data => {

                    let defaultCourse = data.querySelector('#defaultCourse');
                    let subjectName = data.options[data.selectedIndex].textContent.trim();

                    if (subjectName != data.value) {
                        courseArray.push({ subjectLid: data.value, preference: counter });
                        counter++;
                    }

                })

                if (courseArray.length >= compSub) {
                    let obj = { eventLid, timeString, courseArray, userLid, basketLid };
                    console.log(obj)

                    let loader=document.querySelector('.overlay');
                     loader.style.display = 'block'; 

                    dynamicFetchApi(`<%- BASE_URL %>elective/insertStudentCourses`, 'POST', obj)
                        .then(response => {
                            loader.style.display = 'none'; 
                            if (response.status === 'error') {
                                window.location.href = `${response.redirectTo}`;
                            } else {

                                if(response.basketData[0].insert_student_course.nextBasket != null){

                                let eventName = document.querySelector('#eventName');
                                let eventlid = response.basketData[0].insert_student_course.nextBasket[0].event_lid
                                eventName.setAttribute('data-eventLid', eventlid);

                                let basketName = document.querySelector('#basketName');
                                basketName.innerText = `Basket: ${response.basketData[0].insert_student_course.nextBasket[0].basket_name}`;
                                let basketId = response.basketData[0].insert_student_course.nextBasket[0].basket_id;
                                let compSub = response.basketData[0].insert_student_course.nextBasket[0].no_of_comp_sub;
                                basketName.setAttribute('data-basketLid', basketId)
                                basketName.setAttribute('data-compSub', compSub)

                                let subjectLid = response.basketData[0].insert_student_course.nextBasket;
                                let yearBackSubject = response.yearBackSubjects;
                                console.log('response subjects ', JSON.stringify(subjectLid));

                                let s_lid = `<option id="defaultCourse" selected>Select Course</option>
                            ${subjectLid.map(datas => `
                                <option class="subjectName" value="${datas.subject_id}">
                                    ${datas.subject_name}
                                </option>`
                                ).join('')}
                            ${yearBackSubject.map(datas => `
                                <option style="color:grey;" disabled>
                                    ${datas.subject_name}
                                </option>`
                                ).join('')}`;


                                let selectSubject = document.querySelectorAll('.selectSubject');

                                Array.from(selectSubject).forEach(selectOption => {
                                    selectOption.innerHTML = s_lid;
                                })
                             }else{
                                window.location.href=`<%- BASE_URL %>elective/viewStudentElectedEvents?id=${eventLid}`;
                             }   
                            }
                        })

                } else {
                    let modalBody = document.querySelector('#msgModal');
                    modalBody.innerHTML = `<h4 style="text-align:center;">Select Courses ${compSub} or more than ${compSub} !!</h4>`;
                    document.querySelector('[data-target="#messageModal"]').click();
                }

            }
        })

</script>
</html>