<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>View Event</title>
    <%- include ('../partials/partial') %>
    <style>
      th, tr,td {
      border: 1px solid black;
      }
      
      body{
       background-color: whitesmoke;
      }
      td,th{
         text-align:center;
      }


    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">
    
        <table id="datatable" class="table table-striped table-bordered bluetable table-responsive">
        <thead>
        <th>Sr.No</th>
        <th>Event Name</th>
        <th>Semester</th>
        <th>Acad Year</th>
        <th>Campus</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Published</th>
        <th>Actions</th>
        </thead>
        <tbody>
         <% let count=1; %>
         <% eventData.forEach(event => { %>
            <tr id="eventList" data-eid=<%= event.id %> >
               <td><%= count %></td>
               <td><%= event.event_name %></td>
               <td><%= event.current_session %></td>
               <td><%= event.acad_year %></td>
               <td><%= event.campus_name %></td>
               <% let sdate = event.startdate.toISOString(); %>
               <% let date = sdate.split('T')[0]; let time= sdate.split('T')[1] ;  let stime= time.split('.')[0] ; %>
               <td><%= date %><%= " " %><%= stime %></td>
               <% let edate = event.end_date.toISOString(); %>
               <% let endate = edate.split('T')[0]; let etime= edate.split('T')[1] ;  let edtime= etime.split('.')[0] ; %>
               <td><%= endate %><%= " " %><%= edtime %></td>
               <td><%= event.is_published %></td>  
               <td ><i style="cursor:pointer;" class="fa-solid fa-trash-arrow-up deleteModal"  data-toggle='modal' data-toggle='tooltip' data-target="#deletModal" title = 'Delete' width="2%" ></i>&ensp;
               <i class="fa-solid fa-pencil"  data-toggle='tooltip' title = 'Edit' width="2%"></i>&ensp;
               <i class="fa-solid fa-file-export" data-toggle='tooltip' title = 'Allocate Event Users' width="2%" ></i>&ensp;
               <i class="fa-solid fa-file-arrow-down" data-toggle='tooltip' title = 'Download Allocation Report' width="2%" ></i>&ensp;
               <i class="fa-solid fa-book"  data-toggle='tooltip' title = 'Publish' width="20%" ></i>&ensp;
               <i class="fa-solid fa-download" data-toggle='tooltip' title = 'Download Preferences' width="2%" ></i>&ensp;
               <a style="text-decoration: none;color:black" href="/elective/addBasketPage?id=<%= event.id %>"><i class="fa-solid fa-cart-plus addBasket" data-toggle='tooltip' title = 'Add Basket' width="2%"></i></a>&ensp;
               <a style="text-decoration:none;color:black;" href="/elective/basketCourseConfig?id=<%= event.id %>" ><i class="fa-solid fa-book-bible" data-toggle='tooltip' width="2%" title="Add Basket Courses"></i></a>
            </td>     
            </tr>
           <% count++ %>
            <% }); %>
        </tbody>
    </table>

    <%- include('editModal.ejs') %>
    <%- include('deleteModal.ejs') %>
    <%- include('deleteSuccessModal.ejs') %>
    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script>

document.addEventListener('click',(e) => {

    if (e.target.classList.contains('deleteModal')) {
        let eid = e.target.closest('tr').dataset.eid;

        let deleteModal = document.querySelector('.confirmDelete');
        deleteModal.setAttribute('data-eventId', eid);
    }

    if (e.target.classList.contains('confirmDelete')) {

        let eventId = document.querySelector('.confirmDelete').getAttribute('data-eventId');
        let obj = { eventId };

        dynamicFetchApi('/elective/deleteEvent', 'POST', obj)
            .then(response => {
            if(response.status === 'error'){
             window.location.href= `${response.redirectTo}`;   
            }else{
            let eventListId = document.querySelectorAll('#eventList');

            Array.from(eventListId).forEach(event => {
               let id =event.getAttribute('data-eid');
               if(eventId === id){
                event.remove();
               }
            })

            let successModal = document.getElementById('deleteSuccess');
            successModal.innerText =response.message;

            document.querySelector('[data-target="#deleteSuccessModal"]').click();             }
            })
    }






})





</script>
</html>