<!DOCTYPE html>
<html lang="en">
<head>

    <title>View Programs</title>
    <%- include ('../partials/partial') %>

    <style>
     body{
        background-color:whitesmoke;
        padding:0;
        margin:0;    
     }  
     table{
        width:50%;
     } 
     th{
    background-color: #e6f7ff;
      }
    tr:nth-child(even) {
    background-color: #e6f7ff;
    }
    tr:nth-child(odd) {
    background-color: white;
    }

    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">

        <%- include('paginationHeader.ejs')  %>

        <table class="table mt-4 table-bordered table-responsive-lg text-center custom-pagination">
        <thead>
        <th>Sr.No</th>
        <th>Program Name</th>
        <th>Campus</th>
        <th style="width:200px;">Actions</th>
        </thead>
        <tbody>
        <% let count=1; %>
        <% if(programData.length > 0){ %>
        <% programData.forEach(program => { %>
        <tr class="programData" data-programId = "<%= program.program_id %>" data-id="<%= program.id %>">
        <td><%= count %></td>
        <td id="programName"><%= program.program_name %></td>
        <td id="programCampus"><%= program.campus_name %></td>
        <td><i class="fa-solid fa-trash deleteIcon" style="cursor:pointer;" data-toggle="modal"  data-toggle='tooltip' data-target="#deletModal" title = 'Delete' width="2%" ></i>&ensp;
        </td>     
        </tr>
        <% count++ %>
        <% }); %>
        <% }else{ %>
        <tr><td colspan = "4px">-----------------------------------No Data Available-------------------------------</td></tr>   
        <% } %>
        </tbody>
        </table>

    <%- include('pagination.ejs')  %>
    <%- include('deleteModal.ejs') %>
    <%- include('deleteSuccessModal.ejs') %>

    </div> 
</body>
<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script src= "../js/paginationMain.js" ></script>
<script>
    initializePagination('.custom-pagination');

        document.addEventListener('click', function (e) {

            if (e.target.classList.contains('deleteIcon')) {
                let programId = e.target.closest('tr').getAttribute('data-id');

                let confirmButton = document.querySelector('.confirmDelete');
                confirmButton.setAttribute('data-id', programId);
            }

            if (e.target.classList.contains('confirmDelete')) {
                let programId = e.target.getAttribute('data-id');
                let obj = { programId };

                dynamicFetchApi(`<%- BASE_URL %>elective/deleteProgram`, 'POST', obj)
                    .then(response => {
                        if (response.status === 'error') {
                            window.location.href = `${response.redirectTo}`;
                        } else {
                            if (response.status === 'success') {

                                let programData = document.querySelectorAll('.programData');
                                Array.from(programData).forEach(data => {
                                    let pgrmId = data.getAttribute('data-id');
                                    if (programId === pgrmId) {
                                        data.remove();
                                    }
                                });

                            }

                            let deleteSuccess = document.querySelector('#deleteSuccess');
                            deleteSuccess.innerText = response.message;

                            document.querySelector('[data-target="#deleteSuccessModal"]').click();
                        }
                    })
            }

            
        })
</script>
</html>