<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/partial') %>
    <title>View Events</title>
    
    <style>
      body{
        background-color: whitesmoke;
      }  
      th{
    background-color: #e6f7ff;
    width:280px;
      }
    tr:nth-child(even) {
    background-color: #e6f7ff;
    }
    tr:nth-child(odd) {
    background-color: white;
    }
    </style>

</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">
       <table class="table table-bordered text-center table-responsive-lg">
        <tr>
         <th>Sr.No</th>
         <th>Event Name</th>
         <th>Start Date</th>
         <th>End Date</th>
         <th>Actions</th>   
        </tr>
        <% if(event.length > 0){ %>
        <% let index =1; %>
        <% event.forEach(eventRow => { %>
        <tr>
         <td><%= index %></td>   
         <td><%= eventRow.event_name%></td>
         <% let sdate = eventRow.startdate; %>
         <% const date = sdate.toISOString().slice(0, 10); const time = sdate.toTimeString().slice(0, 8); %>
         <td><%= date %><%= " " %><%= time %></td>
         <% let edate = eventRow.end_dates; %>
         <% const dates = edate.toISOString().slice(0, 10); const times = edate.toTimeString().slice(0, 8); %>
         <td id="eventEnd"><%= dates %><%= " " %><%= times %></td>
         <td>
         <a href="<%- BASE_URL %>elective/startCourseSelection?id=<%= eventRow.id %>"><i style="cursor:pointer;text-decoration:none;color: black;" class="fa-solid fa-hand-pointer" data-toggle="tooltip" title="Start Selection" ></i></a>   
         </td>
        </tr>
        <% index++; %>
        <% }); %>
        <% }else{ %>
          <h3 class="mt-3">----------------------------------------No Data Available------------------------------------------</h3>
          <%}%>
       </table>
    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
</html>