<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>View Event</title>
    <%- include ('../partials/partial') %>
    <style>
      th, tr,td {
      border: 1px solid black;
      }
      
      body{
       background-color: whitesmoke;
      }
      td,th{
         text-align:center;
      }


    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">
        <table id="datatable" class="table table-striped table-bordered bluetable table-responsive">
        <thead>
        <th>Sr.No</th>
        <th>Event Name</th>
        <th>Semester</th>
        <th>Acad Year</th>
        <th>Campus</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Published</th>
        <th>Actions</th>
        </thead>
        <tbody>
         <% let count=1; %>
         <% eventData.forEach(event => { %>
            <tr data-eid=<%= event.id %> >
               <td><%= count %></td>
               <td><%= event.event_name %></td>
               <td><%= event.current_session %></td>
               <td><%= event.acad_year %></td>
               <td><%= event.campus_name %></td>
               <% let sdate = event.startdate.toISOString(); %>
               <% let date = sdate.split('T')[0]; let time= sdate.split('T')[1] ;  let stime= time.split('.')[0] ; %>
               <td><%= date %><%= " " %><%= stime %></td>
               <% let edate = event.end_date.toISOString(); %>
               <% let endate = edate.split('T')[0]; let etime= edate.split('T')[1] ;  let edtime= etime.split('.')[0] ; %>
               <td><%= endate %><%= " " %><%= edtime %></td>
               <td><%= event.is_published %></td>  
               <td ><i class="fa-solid fa-trash-arrow-up" data-toggle='tooltip' title = 'Delete' width="2%" ></i>&ensp;
               <i class="fa-solid fa-pencil"  data-toggle='tooltip' title = 'Edit' width="2%"></i>&ensp;
               <i class="fa-solid fa-file-export" data-toggle='tooltip' title = 'Allocate Event Users' width="2%" ></i>&ensp;
               <i class="fa-solid fa-file-arrow-down" data-toggle='tooltip' title = 'Download Allocation Report' width="2%" ></i>&ensp;
               <i class="fa-solid fa-book"  data-toggle='tooltip' title = 'Publish' width="20%" ></i>&ensp;
               <i class="fa-solid fa-download" data-toggle='tooltip' title = 'Download Preferences' width="2%" ></i>&ensp;
               <a style="text-decoration: none;color:black" href="/elective/addBasketPage?id=<%= event.id %>"><i class="fa-solid fa-cart-plus addBasket" data-toggle='tooltip' title = 'Add Basket' width="2%"></i></a>

            </td>     
            </tr>
           <% count++ %>
            <% }); %>
        </tbody>
    </table>


    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script>

document.addEventListener('click',(e) => {

if(e.target.classList.contains('addBasket')){
 let eventId = e.target.closest('tr').dataset.eid;
 console.log('eventid >>> ' , eventId);

 ;

}






})





</script>
</html>