<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/partial') %>
    <title>View Events</title>
    
    <style>
      body{
        background-color: whitesmoke;
      }  
      th{
    background-color: #e6f7ff;
    width:280px;
      }
    tr:nth-child(even) {
    background-color: #e6f7ff;
    }
    tr:nth-child(odd) {
    background-color: white;
    }
    </style>

</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">
       <table class="table table-bordered text-center table-responsive-lg">
        <tr>
         <th>Sr.No</th>
         <th>Event Name</th>
         <th>Start Date</th>
         <th>End Date</th>
         <th>Actions</th>   
        </tr>
        <% if(event.length > 0){ %>
        <% let index =1; %>
        <% event.forEach(eventRow => { %>
        <tr>
         <td><%= index %></td>   
         <td><%= eventRow.event_name%></td>
         <% let sdate = eventRow.startdate.toISOString(); %>
         <% let date = sdate.split('T')[0]; let time= sdate.split('T')[1] ;  let stime= time.split('.')[0] ; %>
         <td><%= date %><%= " " %><%= stime %></td>
         <% let edate = eventRow.end_date.toISOString(); %>
         <% let endate = edate.split('T')[0]; let etime= edate.split('T')[1] ;  let edtime= etime.split('.')[0] ; %>
         <td id="eventEnd"><%= endate %><%= " " %><%= edtime %></td>
         <td>
         <a href="/elective/viewStudentElectedEvents?id=<%= eventRow.id %>"><i style="cursor:pointer;color:black;" class="fa-solid fa-eye" data-toggle="tooltip" title="View Event" ></i></a>   
         </td>
        </tr>
        <% index++; %>
        <% }); %>
        <% } else { %>
          <h3 class="mt-3">----------------------------------------No Data Available------------------------------------------</h3>
          <%}%>
       </table>
    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
</html>