<!DOCTYPE html>
<html lang="en">
<head>

    <title>View Programs</title>
    <%- include ('../partials/partial') %>

    <style>
     body{
        background-color:whitesmoke;
        padding:0;
        margin:0;
        
     }  
     table{
        width:50%;
     } 
    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main">
        <table class="table table-bordered table-responsive text-center">
        <thead>
        <th>Sr.No</th>
        <th>Program Name</th>
        <th>Campus</th>
        <th colspan="1px">Actions</th>
        </thead>
        <tbody>
        <% let count=1; %>
        <% programData.forEach(program => { %>
        <tr>
        <td><%= count %></td>
        <td><%= program.program_name %></td>
        <td><%= program.campus_name %></td>
        <td><a href="#" ><img src='/images/delete.png' data-toggle='tooltip' title = 'Delete' width="2.5%"/></a>&ensp;
        <a href="#" ><img src='/images/edit.png'  data-toggle='tooltip' title = 'Edit' width="2.5%"/></a>&ensp;
        </td>     
        </tr>
        <% count++ %>
        <% }); %>
        </tbody>
        </table>
    </div> 
</body>
<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
</html>