<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>View Event</title>
    <%- include ('../partials/partial') %>
    <style>
      body{
       background-color: whitesmoke;
      }
      th{
    background-color: #e6f7ff;
      }
    tr:nth-child(even) {
    background-color: #e6f7ff;
    }
    tr:nth-child(odd) {
    background-color: white;
    }

    .indeterminate-progress-bar {
    /* Color */
    background-color: #d1d5db;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 0.5rem;

    position: relative;
    overflow: hidden;
}

.indeterminate-progress-bar__progress {
    /* Color */
    background-color: red;

    /* Rounded border */
    border-radius: 9999px;

    /* Absolute position */
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;

    /* Move the bar infinitely */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}
.loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2); 
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999; 
            display: none;
        
}
#modalLoader{
    background-color: white;
    padding:50px;
    width:20%;
    margin:auto;
    position:relative;
    top:35%;
}


    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main" class="container col-lg-9" >

      <%- include('paginationHeader.ejs')  %>
      <%- include('messageModal.ejs') %>


      <div class="loading">
        <div id="modalLoader">
            <h2 style="text-align: center;">Allocating Event</h2>
        </br>
        <div class="indeterminate-progress-bar">
            <div class="indeterminate-progress-bar__progress"></div>
        </div>

        </div>
       </div>

        <table id="datatable" class="table text-center mt-4 table-bordered table-responsive-lg custom-pagination">
        <thead>
        <th>Sr.No</th>
        <th>Event Name</th>
        <th>Semester</th>
        <th>Acad Year</th>
        <th>Campus</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Published</th>
        <th>Actions</th>
        </thead>
        <tbody>
         <% let count=1; %>
         <% if(eventData.length > 0) { %>
         <% eventData.forEach(event => { %>
            <tr id="eventList" data-eid=<%= event.id %> >
               <td><%= count %></td>
               <td id="eventName"><%= event.event_name %></td>
               <td id="eventSession"><%= event.current_session %></td>
               <td id="eventYear"><%= event.acad_year %></td>
               <td id="eventCampus"><%= event.campus_name %></td>
               <% let sdate = event.startdate %>
               <% const date = sdate.toISOString().slice(0, 10); const time = sdate.toTimeString().slice(0, 8); %>
               <td id="eventStart"><%= date %> <%= time%></td>
               <% let edate = event.end_date; %>
               <% const dates = edate.toISOString().slice(0, 10); const times = edate.toTimeString().slice(0, 8); %>
               <td id="eventEnd"><%= dates %> <%= times%></td>
               <td id="eventPublish"><%= event.is_published %></td>  
               <td ><i style="cursor:pointer;" class="fa-solid fa-trash-arrow-up deleteModal"  data-toggle='modal' data-toggle='tooltip' data-target="#deletModal" title = 'Delete' width="2%" ></i>&ensp;
               <i style="cursor:pointer;" class="fa-solid fa-pencil editEventModal" data-toggle='modal' data-toggle='tooltip' data-target='#exampleModalCenter' title = 'Edit' width="2%"></i>&ensp;
               <i style="cursor:pointer;" class="fa-solid fa-file-export allocateEvents" data-toggle='tooltip' title = 'Allocate Event Users' width="2%" ></i>&ensp;
               <a style="cursor:pointer; color:black" href="<%- BASE_URL %>elective/downloadAllocationReport?id=<%= event.id %>"><i class="fa-solid fa-file-arrow-down" data-toggle='tooltip' title = 'Download Allocation Report' width="2%" ></i></a>&ensp;
               <i style="cursor:pointer;" class="fa-solid fa-book publishEvent" data-toggle="modal" data-toggle='tooltip' data-target="#publishModal" title = 'Publish' width="20%" ></i>&ensp;
               <a style="color:black;" href="<%- BASE_URL %>elective/viewPreferences?id=<%= event.id %>"><i class="fa-solid fa-eye" data-toggle='tooltip' title = 'View Preferences' width="2%" ></i></a>&ensp;
               <a style="text-decoration: none;color:black" href="<%- BASE_URL %>elective/addBasketPage?id=<%= event.id %>"><i class="fa-solid fa-cart-plus addBasket" data-toggle='tooltip' title = 'Add Basket' width="2%"></i></a>&ensp;
               <a style="text-decoration:none;color:black;" href="<%- BASE_URL %>elective/basketCourseConfig?id=<%= event.id %>" ><i class="fa-solid fa-book-bible" data-toggle='tooltip' width="2%" title="Add Basket Courses"></i></a>&ensp;
               <a style="text-decoration:none;color:black;" href="<%- BASE_URL %>elective/sendEventMail?id=<%= event.id %>" ><i class="fa-solid fa-envelope" data-toggle='tooltip' width="2%" title="Send Mail To Students"></i></a>
              </td>     
            </tr>
           <% count++ %>
            <% }); %>
            <% }else { %>
            <tr><td colspan="9px">--------------------------No Data Available--------------------------</td></tr>    
            <% } %>    
        </tbody>
    </table>

    <%- include('pagination.ejs')  %>

    <%- include('editModal.ejs') %>
    <%- include('deleteModal.ejs') %>
    <%- include('deleteSuccessModal.ejs') %>
    <%- include('editSuccessModal.ejs') %>

    <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.3);" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered setModal modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="deleteModal" class="modal-body">
                <div>
                    <h4 id='subjectDelete' style="text-align:center;">Are you sure you want to publish ?</h4>
                </div>
            </div>
            <div class="modal-footer modalFooter">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary confirmPublish" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>  




    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script src= "../js/paginationMain.js" ></script>
<script>

  initializePagination('.custom-pagination');
document.addEventListener('click',(e) => {

    if (e.target.classList.contains('deleteModal')) {
        let eid = e.target.closest('tr').dataset.eid;

        let deleteModal = document.querySelector('.confirmDelete');
        deleteModal.setAttribute('data-eventId', eid);
    }

    if (e.target.classList.contains('confirmDelete')) {

        let eventId = document.querySelector('.confirmDelete').getAttribute('data-eventId');
        let obj = { eventId };

        dynamicFetchApi(`<%- BASE_URL %>elective/deleteEvent`, 'POST', obj)
            .then(response => {
            if(response.status === 'error'){
             window.location.href= `${response.redirectTo}`;   
            }else{

            if(response.status === 'success'){    
            let eventListId = document.querySelectorAll('#eventList');

            Array.from(eventListId).forEach(event => {
               let id =event.getAttribute('data-eid');
               if(eventId === id){
                event.remove();
               }
            })

            if(eventListId.length == 0){
             let eventTable = document.querySelector('#datatable');
             let tableData = `<table id="datatable" class="table table-striped table-bordered bluetable table-responsive">
            <thead>
            <th>Sr.No</th>
            <th>Event Name</th>
            <th>Semester</th>
            <th>Acad Year</th>
            <th>Campus</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Published</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr><td colspan="9px">------------------------No Data Available---------------------</td></tr>    
            </tbody>`;   

            eventTable.innerHTML = tableData;
            }
            }

            let successModal = document.getElementById('deleteSuccess');
            successModal.innerText =response.message;

            document.querySelector('[data-target="#deleteSuccessModal"]').click();             }
            })
    }

    if(e.target.classList.contains('editEventModal')){
  
      let eventId = e.target.closest('tr').getAttribute('data-eid');
      let modalBody = document.getElementById('getModal');

      let tr = e.target.closest('tr');
      let eventName = tr.querySelector('#eventName').textContent;
      let eventSession = tr.querySelector('#eventSession').textContent;
      let eventYear = tr.querySelector('#eventYear').textContent;
      let eventStart = tr.querySelector('#eventStart').textContent;
      let eventEnd =tr.querySelector('#eventEnd').textContent;
      let eventPublish = tr.querySelector('#eventPublish').textContent;
      let eventCampus =tr.querySelector('#eventCampus').textContent;

      let editForm = `   <div class="eventNewDiv">
            <div class="eventForm">
              <div style="margin:0;" id="formdata">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="Event">Event Name</label>
                    <input type="text" class="form-control " id="event" name="eventName" value="${eventName}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Semester">Semester</label>
                  <select id="session_master" name="semester" class="form-control ">
                    <option value="Select Semester" selected>Select Acad Session</option>
                    <% acadSession.forEach(data=> { %>
                      <option>
                        <%= data.current_session %>
                      </option>
                      <% });%>
                  </select>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="acad_year">Acad Year</label>
                    <select id="acadYear" name="acad_year" class="form-control ">
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="campus">Campus</label>
                    <select id="campusInput" name="campus" class="form-control campusOption">
                      <option selected>Select Campus</option>
                      <% campus.forEach(data=> { %>
                        <option>
                          <%= data.campus_name %>
                        </option>
                        <% }); %>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="Start Date">Start Date</label>
                    <input type="datetime-local" name="start_date" class="form-control" id="start_date" value="${eventStart}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="End Date">End Date</label>
                    <input type="datetime-local" name="end_date" class="form-control" id="end_date" value="${eventEnd}">
                  </div>
                </div>
              </div>
            </div>
          </div>`;

          let editModalButton =document.querySelector('.editModal');
          editModalButton.setAttribute('data-eventId',eventId);

         modalBody.innerHTML = editForm; 

         let campusInput = document.getElementById('campusInput');
         campusInput.value = eventCampus;

          let sessionInput =document.getElementById('session_master');
          sessionInput.value = eventSession;

          let acadYear = document.getElementById('acadYear');
          let date =new Date();
          let currYear = date.getFullYear();
          let prevYear = currYear - 1;
          let nextYear = currYear + 1;

          let year = `<option selected>Select Acad Year</option>
                    <option value = ${prevYear}-${currYear}>${prevYear}-${currYear}</option>
                    <option value = ${currYear}-${nextYear}>${currYear}-${nextYear}</option>
                    <option value = ${nextYear}-${(nextYear + 1)}>${nextYear}-${(nextYear + 1)}</option>`;
   
          acadYear.innerHTML = year;
          acadYear.value = eventYear;
    }

    if(e.target.classList.contains('editModal')){
       let eventId = e.target.getAttribute('data-eventId') ;
       let eventName = $(e.target).closest('div').prev().find('#event').val();
       let campus =$(e.target).closest('div').prev().find('#campusInput').val();
       let startDate =$(e.target).closest('div').prev().find('#start_date').val();
       let endDate= $(e.target).closest('div').prev().find('#end_date').val();
       let semester = $(e.target).closest('div').prev().find('#session_master').val();
       let acad_year = $(e.target).closest('div').prev().find('#acadYear').val();

       let obj = {eventId,eventName,campus,startDate,endDate,semester,acad_year};

       dynamicFetchApi(`<%- BASE_URL %>elective/editEvent`,'POST',obj)
       .then(response => {

        if(response.status === 'error'){
         window.location.href=`${response.redirectTo}`;
        }else{
        let editmodal =document.getElementById('successModal');
        editmodal.innerHTML = `<div><h4 style="text-align:center;">${response.message}</h4></div>`;

        console.log(response);
        document.querySelector('[data-target="#exampleModal"]').click();
        }

       });

       
    }

    if (e.target.classList.contains('okModal')) {
    window.location.reload();
    }

  if (e.target.classList.contains('publishEvent')) {
    let eventId = e.target.closest('tr').getAttribute('data-eid');

    let confirmPublish = document.querySelector('.confirmPublish');
    confirmPublish.setAttribute('data-eventId', eventId);
  }

  if (e.target.classList.contains('confirmPublish')) {
    let eventId = e.target.getAttribute('data-eventId');

    let obj = { eventId };

    dynamicFetchApi(`<%- BASE_URL %>elective/publishEvent`, 'POST', obj)
      .then(response => {
        if (response.status === 'error') {
          window.location.href = `${response.redirectTo}`;
        } else {
          let successModal = document.querySelector('#successModal');
          successModal.innerHTML = `<div><h4 style="text-align:center;">${response.message}</h4></div>`;

          document.querySelector('[data-target="#exampleModal"]').click();
        }
      })
  }

  if(e.target.classList.contains('allocateEvents')){
    let eventId = e.target.closest('tr').getAttribute('data-eid');
    let loader = document.querySelector('.loading');
    loader.style.display='block';

    let obj = {eventId};

    dynamicFetchApi('<%- BASE_URL %>elective/adminAllocatingEvents','POST',obj)
    .then(response => {
      loader.style.display='none';

     if (response.status === 'error') {
        window.location.href = `${response.redirectTo}`;
      } else {
        let msg = document.getElementById('msgModal');
        let modalPage = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
        msg.innerHTML = modalPage;
        document.querySelector('[data-target="#messageModal"]').click();
      } 

    })
  }

})
    


</script>
</html>