<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/partial') %>
    <title>Allocated Events</title>
    
    <style>
      body{
        background-color: whitesmoke;
      }  
      #viewBaskets{
        background-color: white;
      }
      #baskets{
        background-color:white;
        padding:20px;
        border-radius: 10px;
        width:1450px;
      }
    </style>

</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main" class="container">
      <div id="basketData">
        <h2 style="text-align:center;">Elected Baskets</h2><br><br>
        <% if (electedEvent.length > 0) { %>
        <% let index=1; %> 
        <% electedEvent.forEach(data => { %>   
            <div id="baskets" class="mb-4">
                <h4 class="basketId" ><%= index %>. <%= data.basket_name %></h4><br><br>
                <% index++; %>
                
                    <button class="btn btn-danger getSubjects" type="button" data-toggle="collapse" data-target="#collapse<%= data.id %>"  data-basketId="<%= data.id %>" aria-expanded="false" aria-controls="collapse<%= data.id %>">
                        View Elected Subjects
                    </button>
                    <div id="collapse<%= data.id %>" class="collapse" aria-labelledby="heading<%= data.id %>" data-parent="#basketData">
                        <div class="card card-body subjectDisplay">
                            <% let count=1; %>   
                            <% data.subject_names.forEach(subName => { %>
                                <p><%= count %>. <%= subName.subject_name %></p>
                                <% count++; %>
                            <% }); %>   
                        </div>
                    </div>
            </div>
        <% }); %>
        <% }else{ %>
         <h1>------------------------------No Data Available-------------------------------</h1>
          <%}%>
    </div>
    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>

</html>